body {
  text-align: center;
}

.message-list {
  padding: 20px;
  font-family: 'Raleway', sans-serif;
}

input {
    border: 2px solid #3F464C;
    background-color: #FFF6E5;
    border-radius: 5px;
    color: #3F464C;
    display:block;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

button {
   color: #F464C;
   background-color: #FFF6E5;
   border: 2px solid #3F464C;
   border-radius: 5px;
   padding: 20px;
   font-size: 20px;
}
html {
  background-color: #FFFFFF;
}
h1 {
  color: #3F4642;
  font-family: 'Raleway', sans-serif;
}
h2 {
  color: #3F4642;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}
p{
  color: #3F4642;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}
.message {
  color: #3F4642;
  margin: 10px;
  padding: 10px;
  border: 2px solid #A2DEFA;
  border-radius: 5px;
  background-color: #A2DEFA;

}
.author{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.comments{
  color: #3F4642;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin: 20px;
  padding: 15px;
  border: 2px solid #2186c4;
  border-radius: 5px;
  background-color: #FFF6E5;
}
.postId {
    display: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3F4642;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

li {
    float: left;
}

li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #7ECEFC;
}

.active {
    background-color: #4CAF50;
}


.hidden {
  display: none
}

img {
    width: 747.33px;
    max-width: 100%;
    display: block;
    margin: auto;
}
