body {
  text-align: center;
}

.message-list {
  background-color: #FFF0A5;
  padding: 20px;
}
input {
    border: 10px solid #3F464C;
    background-color: #FFF6E5;
    color: #3F464C;
    display:block;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

button {
   color: #F464C;
   background-color: #FFF6E5;
   border: 20px solid #2186C4;
   padding: 20px;
   font-size: 20px;
}
h1 {
  color: #FFB03B;
}

.message {
  color: #468966;
  margin: 10px;
  padding: 10px;
  border: 2px solid #FFB03B;
  border-radius: 5px;
}
.postId {
    display: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b3b3ff;
}

li {
    float: left;
}

li a {
    display: block;
    color: #333333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


.hidden {
  display: none
}

img {
    width: 747.33px;
    max-width: 100%;
}
