body {
  text-align: center;
}

.message-list {
  padding: 20px;
  font-family: 'Raleway', sans-serif;
}
HTML{
  background-color: #ffffff;

}
h1 {
  color: #3F4642;
  font-family: 'Raleway', sans-serif;
}

.message {
  color: #3F4642;
  margin: 10px;
  padding: 10px;
  border: 2px solid #FF8066;
  border-radius: 5px;
  background-color: #FFF6E5;

}
.author{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.postId {
    display: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2186C4;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

li {
    float: left;
}

li a {
    display: block;
    color: #333333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #7ECEFC;
}

.active {
    background-color: #4CAF50;
}


.hidden {
  display: none
}

img {
    width: 747.33px;
    max-width: 100%;
    display: block;
    margin: auto;
}
